 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 892px;
}

.u-section-1 .u-group-1 {
  width: 983px;
  min-height: 666px;
  height: auto;
  margin: 187px auto 39px;
}

.u-section-1 .u-image-1 {
  width: 1135px;
  height: 230px;
  margin: -6px -76px 0;
}

.u-section-1 .u-image-2 {
  height: 461px;
  margin: -184px auto 0 0;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  width: 551px;
  margin: -83px auto 0;
}

@media (max-width: 1399px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: 940px;
  }

  .u-section-1 .u-image-1 {
    width: 940px;
    height: 190px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    height: 441px;
    margin-top: -144px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    margin-top: -63px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 146px;
  }

  .u-section-1 .u-image-2 {
    height: 338px;
    margin-top: -100px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 110px;
  }

  .u-section-1 .u-image-2 {
    height: 254px;
    margin-top: -64px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 69px;
  }

  .u-section-1 .u-image-2 {
    height: 160px;
    margin-top: -23px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }
} .u-section-2 {
  background-image: url("images/4.png");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 944px;
  margin: 0 auto;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 173px auto 16px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 774px;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 52px;
}

.u-section-2 .u-image-1 {
  width: 720px;
  height: 356px;
  margin: -21px auto 0 -100px;
}

.u-section-2 .u-text-1 {
  font-weight: 300;
  margin: 0;
}

.u-section-2 .u-text-2 {
  margin: 30px 0 24px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 774px;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 20px;
}

.u-section-2 .u-image-2 {
  width: 186px;
  height: 481px;
  margin: 32px 30px 0 auto;
}

.u-section-2 .u-text-3 {
  margin: -178px 236px 0 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 30px 24px 0;
}

@media (max-width: 1399px) {
  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 844px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 22px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 826px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 43px;
  }

  .u-section-2 .u-image-1 {
    width: 594px;
    margin-left: -59px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 826px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 16px;
  }

  .u-section-2 .u-image-2 {
    width: 153px;
    margin-right: 25px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 195px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 949px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 33px;
  }

  .u-section-2 .u-image-1 {
    width: 628px;
    margin-left: -63px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 949px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 13px;
  }

  .u-section-2 .u-image-2 {
    width: 117px;
    margin-right: 19px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 149px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 19px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1271px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 704px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 25px;
  }

  .u-section-2 .u-image-1 {
    width: 640px;
    margin-left: -59px;
  }

  .u-section-2 .u-text-2 {
    margin-bottom: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 557px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 0;
  }

  .u-section-2 .u-image-2 {
    width: 110px;
    height: 320px;
    margin-top: -98px;
    margin-right: 14px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: -160px;
    margin-right: 112px;
    margin-left: 9px;
  }

  .u-section-2 .u-text-4 {
    margin: 35px 12px 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1511px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-bottom: 74px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 840px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 16px;
  }

  .u-section-2 .u-image-1 {
    width: 440px;
    height: 295px;
    margin-top: 91px;
    margin-left: -61px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -51px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 615px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 9px;
  }

  .u-section-2 .u-image-2 {
    width: 124px;
    margin-top: -20px;
    margin-right: auto;
    margin-left: 237px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -238px;
    margin-right: 110px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 9px;
    margin-left: 1px;
  }
} .u-section-3 {
  background-image: url("images/5.png");
  background-position: 50% 50%;
  min-height: 764px;
}

.u-section-3 .u-image-1 {
  height: 257px;
  margin: 91px 0 0;
}

.u-section-3 .u-group-1 {
  width: 711px;
  min-height: 332px;
  height: auto;
  margin: -27px auto 60px;
}

.u-section-3 .u-text-1 {
  position: relative;
  margin: 25px 20px 0;
}

.u-section-3 .u-text-2 {
  position: relative;
  margin: 20px 20px 0;
}

.u-section-3 .u-btn-1 {
  position: relative;
  border-style: solid;
  background-image: none;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 25px;
}

@media (max-width: 1399px) {
  .u-section-3 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-1 {
    margin-right: 264px;
    margin-left: 265px;
    height: auto;
  }
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 400px;
  }

  .u-section-3 .u-group-1 {
    width: 586px;
    margin-right: auto;
    margin-left: calc(((100% - 940px) / 2)  + 177px);
  }

  .u-section-3 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-1 {
    width: 449px;
    margin-left: calc(((100% - 720px) / 2)  + 135px);
  }

  .u-section-3 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 676px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 75px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-1 {
    min-height: 364px;
    margin-top: -50px;
    margin-bottom: 30px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-1 {
    margin-top: 35px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-btn-1 {
    margin-bottom: 35px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 635px;
  }

  .u-section-3 .u-image-1 {
    height: 163px;
    margin-top: 43px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-1 {
    margin-top: -35px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 842px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 28px auto 40px 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 794px;
}

.u-section-4 .u-image-1 {
  height: 287px;
  width: 586px;
  margin: 147px 0 0 -25px;
}

.u-section-4 .u-image-2 {
  width: 535px;
  height: 240px;
  margin: -527px auto 0 -25px;
}

.u-section-4 .u-text-1 {
  font-weight: 300;
  margin: 298px 20px 0;
}

.u-section-4 .u-text-2 {
  margin: 27px 20px 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 257px;
}

.u-section-4 .u-image-3 {
  height: 240px;
  width: 382px;
  margin: -27px auto 9px;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 423px;
}

.u-section-4 .u-container-layout-3 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-3 {
  margin-left: 0;
  margin-right: 0;
  position: relative;
}

.u-section-4 .u-text-4 {
  position: relative;
  margin-left: 0;
  margin-right: 0;
}

.u-section-4 .u-btn-1 {
  position: relative;
  margin-left: 0;
  margin-right: auto;
  border-style: solid;
  background-image: none;
  font-size: 0.875rem;
}

@media (max-width: 1399px) {
  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 680px;
  }

  .u-section-4 .u-image-1 {
    height: 225px;
    width: 460px;
    margin-left: 0;
  }

  .u-section-4 .u-image-2 {
    width: 460px;
    height: 206px;
    margin-top: -465px;
    margin-left: 0;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-3 {
    width: 315px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1407px;
  }

  .u-section-4 .u-layout-cell-1 {
    z-index: 3;
  }

  .u-section-4 .u-layout-cell-2 {
    z-index: 0;
  }

  .u-section-4 .u-image-3 {
    height: 268px;
    width: 414px;
    margin-top: -30px;
    margin-bottom: 0;
  }

  .u-section-4 .u-layout-cell-3 {
    z-index: 1;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 13px;
    padding-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1623px;
  }

  .u-section-4 .u-image-3 {
    width: 374px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 9px;
    padding-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1715px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 748px;
  }

  .u-section-4 .u-image-1 {
    height: 166px;
    width: 340px;
  }

  .u-section-4 .u-image-2 {
    width: 340px;
    height: 152px;
    margin-top: -406px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 242px;
  }

  .u-section-4 .u-image-3 {
    width: 348px;
    height: 214px;
    margin-top: -27px;
    margin-bottom: 9px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 538px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 8px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1024px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 86px auto 0 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 750px;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 9px;
  padding-right: 54px;
}

.u-section-5 .u-text-1 {
  margin: 42px 86px 0 14px;
}

.u-section-5 .u-text-2 {
  margin: 30px 86px 0 14px;
}

.u-section-5 .u-image-1 {
  height: 339px;
  margin: 59px auto 4px 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 335px;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 415px;
}

.u-section-5 .u-container-layout-3 {
  padding-left: 92px;
  padding-right: 16px;
}

.u-section-5 .u-text-3 {
  margin: 20px 20px 0 111px;
}

.u-section-5 .u-text-4 {
  margin: 20px 19px 40px 112px;
}

.u-section-5 .u-image-2 {
  width: 654px;
  height: 351px;
  margin: -960px 72px 60px auto;
}

@media (max-width: 1399px) {
  .u-section-5 .u-sheet-1 {
    min-height: 922px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 808px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 814px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 7px;
    padding-right: 45px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 71px;
    margin-left: 12px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 71px;
    margin-left: 12px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 353px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 461px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    margin-right: -1px;
    margin-left: 1px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 839px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 719px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 54px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-1 {
    width: 563px;
    margin-top: 42px;
    margin-bottom: 54px;
    margin-left: -9px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 312px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 407px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-text-3 {
    margin-right: 23px;
    margin-left: 128px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 22px;
    margin-bottom: 0;
    margin-left: 129px;
  }

  .u-section-5 .u-image-2 {
    margin-right: 66px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 687px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 783px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 4px;
    padding-right: 26px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 41px;
    margin-left: 7px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 41px;
    margin-left: 7px;
  }

  .u-section-5 .u-image-1 {
    width: 528px;
    margin-left: -4px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 96px;
    padding-right: 17px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 19px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-image-2 {
    width: 540px;
    height: 290px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 479px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 728px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-text-1 {
    margin-right: 42px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 42px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 64px;
    margin-bottom: 0;
    margin-left: 0;
    width: auto;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 386px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 636px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-right: 11px;
    padding-left: 0;
  }

  .u-section-5 .u-text-3 {
    margin-left: 60px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 61px;
  }

  .u-section-5 .u-image-2 {
    width: 340px;
    height: 183px;
  }
}