 .u-section-1 {
  background-image: url("images/7d49b53f35a91fd08931b8dfa9ae7ac9.png");
  background-position: 50% 0%;
}

.u-section-1 .u-sheet-1 {
  min-height: 782px;
}

.u-section-1 .u-group-1 {
  width: 693px;
  min-height: 310px;
  height: auto;
  margin: 92px auto 75px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-1 .u-text-1 {
  margin-left: 0;
  margin-right: 0;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 1rem;
  margin-bottom: 0;
}

.u-section-1 .u-text-2 {
  position: relative;
  font-size: 1rem;
  margin: 20px 0 30px;
}

@media (max-width: 1399px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 8rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 619px;
  }

  .u-section-1 .u-group-1 {
    width: 571px;
    margin-top: 10px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 438px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 410px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 6rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 462px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 29px auto 29px 0;
}

.u-section-2 .u-image-1 {
  min-height: 403px;
  background-image: url("images/717db336de0fc087cdf0586a02d25594.png");
  background-position: 50% 50%;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 403px;
}

.u-section-2 .u-container-layout-2 {
  padding-right: 20px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 30px 0 0 -149px;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 30px 20px;
}

@media (max-width: 1399px) {
  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 0;
  }

  .u-section-2 .u-text-1 {
    margin-left: -123px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: -94px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 90px;
    margin-left: 81px;
  }

  .u-section-2 .u-text-2 {
    margin-bottom: 40px;
    margin-left: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 785px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 352px;
  }

  .u-section-2 .u-text-1 {
    width: NaNpx;
    margin-top: 0;
    margin-left: 30px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 6px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 570px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 46px 0 46px auto;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 479px;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 28px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 14px 0 0;
}

.u-section-3 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  background-image: none;
  border-radius: 33px;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 1px;
  margin: 20px 384px 28px 0;
}

.u-section-3 .u-image-1 {
  background-image: url("images/b34339d9e47fb594347596251b6711c4.jpeg");
  min-height: 479px;
  background-position: 50% 50%;
}

@media (max-width: 1399px) {
  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-btn-1 {
    font-size: 0.875rem;
  }
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 584px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 59px;
    margin-bottom: 59px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 467px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 28px;
    padding-right: 0;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 7px;
    margin-right: 21px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 15px;
    margin-right: 28px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 14px;
    margin-right: 21px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 15px;
    margin-right: auto;
    margin-bottom: 7px;
  }

  .u-section-3 .u-image-1 {
    min-height: 467px;
    background-position: 74.25% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 0;
  }

  .u-section-3 .u-text-1 {
    margin-right: 13px;
    width: NaNpx;
  }

  .u-section-3 .u-text-2 {
    margin-right: 18px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 13px;
    width: NaNpx;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 243px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-right: 10px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 13px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 10px;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 182px;
  }

  .u-section-3 .u-image-1 {
    background-position: 32.62% 50%;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 603px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 38px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 8px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 6px;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 115px;
    margin-bottom: 38px;
  }

  .u-section-3 .u-image-1 {
    min-height: 279px;
  }
} .u-section-4 {
  min-height: 486px;
}

.u-section-4 .u-image-1 {
  background-image: url("images/6d40e12697e216424d1a18f353df0bf7.jpeg");
  min-height: 486px;
  background-position: 50% 50%;
}

.u-section-4 .u-image-2 {
  background-image: url("images/24c23b86ace34e3ed7132544afb2ab1c.jpeg");
  min-height: 486px;
  background-position: 64.09% 50%;
}

.u-section-4 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(44,204,196,0.9), rgba(44,204,196,0.9)), url('images/c249d2824d19039695e09fbec0706004.jpeg');
  min-height: 486px;
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-3 {
  padding-left: 20px;
}

.u-section-4 .u-text-1 {
  margin-left: 0;
  margin-right: 0;
  position: relative;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-4 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
  position: relative;
  margin-top: 20px;
}

.u-section-4 .u-btn-1 {
  position: relative;
  margin-left: 0;
  margin-right: 174px;
  border-style: solid;
  background-image: none;
  border-radius: 33px;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.u-section-4 .u-image-4 {
  background-image: url("images/1c74412098409ddbed4b79e3041e4e0b.jpeg");
  min-height: 486px;
  background-position: 20.5% 50%;
}

@media (max-width: 1399px) {
  .u-section-4 .u-btn-1 {
    font-size: 0.875rem;
  }
}

@media (max-width: 1199px) {
  .u-section-4 .u-container-layout-3 {
    padding-left: 14px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 64px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 14px;
    margin-bottom: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 21px;
    margin-right: auto;
    margin-bottom: 50px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-container-layout-3 {
    padding-left: 51px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 50px;
    margin-right: 75px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 20px;
    margin-right: 26px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 33px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-3 {
    padding-left: 49px;
  }

  .u-section-4 .u-text-1 {
    width: NaNpx;
    margin-right: 145px;
  }

  .u-section-4 .u-text-2 {
    width: NaNpx;
    margin-top: 17px;
    margin-right: 78px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 26px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-container-layout-3 {
    padding-left: 52px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 98px;
    margin-right: 93px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 16px;
    margin-right: 52px;
    width: 336px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 834px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 61px auto 61px 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 247px;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 20px;
}

.u-section-5 .u-icon-1 {
  height: 50px;
  width: 50px;
  margin: 28px auto 0 0;
}

.u-section-5 .u-text-1 {
  position: relative;
  font-size: 1rem;
  margin: 20px 20px 0 0;
}

.u-section-5 .u-btn-1 {
  border-radius: 32px;
  border-style: solid;
  background-image: none;
  font-size: 1rem;
  font-weight: 700;
  width: 137px;
  height: 46px;
  margin: 19px auto 0 0;
}

.u-section-5 .u-layout-cell-2 {
  background-image: none;
  min-height: 263px;
}

.u-section-5 .u-container-layout-2 {
  padding-left: 20px;
}

.u-section-5 .u-icon-2 {
  height: 50px;
  width: 50px;
  margin: 36px auto 0 0;
}

.u-section-5 .u-text-2 {
  font-size: 1rem;
  margin: 20px 96px 0 0;
}

.u-section-5 .u-btn-2 {
  border-radius: 32px;
  border-style: solid;
  background-image: none;
  font-size: 1rem;
  font-weight: 700;
  width: 137px;
  height: 46px;
  margin: 20px auto 0 0;
}

.u-section-5 .u-layout-cell-3 {
  background-image: none;
  min-height: 202px;
}

.u-section-5 .u-container-layout-3 {
  padding-left: 20px;
}

.u-section-5 .u-icon-3 {
  height: 50px;
  width: 50px;
  margin: 19px auto 0 0;
}

.u-section-5 .u-text-3 {
  position: relative;
  font-size: 1rem;
  margin: 20px 20px 0 0;
}

.u-section-5 .u-btn-3 {
  border-radius: 32px;
  border-style: solid;
  background-image: none;
  font-size: 1rem;
  font-weight: 700;
  width: 137px;
  height: 46px;
  margin: 20px auto 0 0;
}

.u-section-5 .u-image-1 {
  background-image: url("images/663abb7466cafd0f6b161239dde5ebc1.jpeg");
  min-height: 712px;
  background-position: 50% 50%;
}

.u-section-5 .u-layout-cell-5 {
  background-image: none;
  min-height: 237px;
}

.u-section-5 .u-container-layout-5 {
  padding-right: 20px;
}

.u-section-5 .u-icon-4 {
  height: 50px;
  width: 50px;
  margin: 41px 0 0 auto;
}

.u-section-5 .u-text-4 {
  font-size: 1rem;
  margin: 20px 0 0 20px;
}

.u-section-5 .u-btn-4 {
  border-radius: 32px;
  border-style: solid;
  background-image: none;
  font-size: 1rem;
  font-weight: 700;
  margin: 35px 0 18px auto;
}

.u-section-5 .u-layout-cell-6 {
  background-image: none;
  min-height: 273px;
}

.u-section-5 .u-container-layout-6 {
  padding-right: 20px;
}

.u-section-5 .u-icon-5 {
  height: 50px;
  width: 50px;
  margin: 25px 0 0 auto;
}

.u-section-5 .u-text-5 {
  position: relative;
  font-size: 1rem;
  margin: 20px 0 0 20px;
}

.u-section-5 .u-btn-5 {
  border-radius: 32px;
  border-style: solid;
  background-image: none;
  font-size: 1rem;
  font-weight: 700;
  margin: 20px 0 25px auto;
}

.u-section-5 .u-layout-cell-7 {
  background-image: none;
  min-height: 202px;
}

.u-section-5 .u-container-layout-7 {
  padding-right: 20px;
}

.u-section-5 .u-icon-6 {
  height: 50px;
  width: 50px;
  margin: 19px 0 0 auto;
}

.u-section-5 .u-text-6 {
  font-size: 1rem;
  margin: 18px 0 0 20px;
}

.u-section-5 .u-btn-6 {
  border-radius: 32px;
  border-style: solid;
  background-image: none;
  font-size: 1rem;
  font-weight: 700;
  margin: 22px 0 19px auto;
}

@media (max-width: 1399px) {
  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.125rem;
  }

  .u-section-5 .u-btn-1 {
    font-size: 0.875rem;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-5 .u-btn-2 {
    font-size: 0.875rem;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.125rem;
  }

  .u-section-5 .u-btn-3 {
    font-size: 0.875rem;
  }

  .u-section-5 .u-text-4 {
    font-size: 1.125rem;
  }

  .u-section-5 .u-btn-4 {
    font-size: 0.875rem;
  }

  .u-section-5 .u-text-5 {
    font-size: 1.125rem;
  }

  .u-section-5 .u-btn-5 {
    font-size: 0.875rem;
  }

  .u-section-5 .u-text-6 {
    font-size: 1.125rem;
  }

  .u-section-5 .u-btn-6 {
    font-size: 0.875rem;
  }
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 0;
  }

  .u-section-5 .u-text-1 {
    margin-right: 16px;
  }

  .u-section-5 .u-btn-1 {
    width: 113px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 0;
  }

  .u-section-5 .u-text-2 {
    margin-right: 79px;
  }

  .u-section-5 .u-btn-2 {
    width: 113px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 0;
  }

  .u-section-5 .u-text-3 {
    margin-right: 16px;
  }

  .u-section-5 .u-btn-3 {
    width: 113px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-right: 0;
  }

  .u-section-5 .u-text-4 {
    margin-left: 16px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-right: 0;
  }

  .u-section-5 .u-text-5 {
    margin-left: 16px;
  }

  .u-section-5 .u-container-layout-7 {
    padding-right: 0;
  }

  .u-section-5 .u-text-6 {
    margin-left: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-right: 13px;
  }

  .u-section-5 .u-btn-1 {
    width: 87px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 61px;
  }

  .u-section-5 .u-btn-2 {
    width: 87px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 13px;
  }

  .u-section-5 .u-btn-3 {
    width: 87px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 0;
  }

  .u-section-5 .u-icon-4 {
    margin-top: 25px;
    margin-right: auto;
  }

  .u-section-5 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-btn-4 {
    margin-right: auto;
    margin-bottom: 25px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 0;
  }

  .u-section-5 .u-icon-5 {
    margin-right: auto;
  }

  .u-section-5 .u-text-5 {
    width: 421px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-btn-5 {
    margin-top: 13px;
    margin-right: auto;
  }

  .u-section-5 .u-container-layout-7 {
    padding-left: 0;
  }

  .u-section-5 .u-icon-6 {
    margin-right: auto;
  }

  .u-section-5 .u-text-6 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-btn-6 {
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-5 .u-icon-1 {
    margin-top: 25px;
    margin-left: auto;
  }

  .u-section-5 .u-text-1 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-5 .u-btn-1 {
    margin-left: auto;
    margin-bottom: 25px;
    width: 137px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-right: 0;
  }

  .u-section-5 .u-icon-2 {
    margin-top: 25px;
    margin-left: auto;
  }

  .u-section-5 .u-text-2 {
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-5 .u-btn-2 {
    margin-left: auto;
    margin-bottom: 25px;
    width: 137px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-right: 0;
  }

  .u-section-5 .u-icon-3 {
    margin-left: auto;
  }

  .u-section-5 .u-text-3 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-5 .u-btn-3 {
    margin-left: auto;
    margin-bottom: 19px;
    width: 137px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-5 .u-text-5 {
    width: 395px;
  }

  .u-section-5 .u-text-6 {
    margin-left: 8px;
    margin-right: 8px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 14px;
    margin-right: 14px;
    width: 313px;
  }

  .u-section-5 .u-text-6 {
    margin-right: 2px;
    margin-left: 6px;
  }
} .u-section-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('images/8545b69bb58d265598945a66bbaa5025.jpeg');
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 500px;
}

.u-section-6 .u-group-1 {
  width: 603px;
  min-height: 296px;
  height: auto;
  margin: 102px auto 102px 0;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-6 .u-text-1 {
  margin-left: 0;
  margin-right: 0;
  position: relative;
  font-weight: 700;
  margin-bottom: 0;
}

.u-section-6 .u-text-2 {
  position: relative;
  margin: 20px 0 0;
}

.u-section-6 .u-text-3 {
  position: relative;
  margin: 20px 0 0;
}

.u-section-6 .u-btn-1 {
  position: relative;
  margin-left: 0;
  margin-right: 452px;
  border-style: solid;
  background-image: none;
  border-radius: 33px;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 1px;
  margin-top: 20px;
}

@media (max-width: 1399px) {
  .u-section-6 .u-group-1 {
    height: auto;
  }

  .u-section-6 .u-btn-1 {
    font-size: 0.875rem;
  }
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-6 .u-group-1 {
    width: 497px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6 .u-btn-1 {
    margin-right: 372px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-group-1 {
    width: 381px;
  }

  .u-section-6 .u-btn-1 {
    margin-right: 285px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-group-1 {
    width: 357px;
  }

  .u-section-6 .u-btn-1 {
    margin-right: 214px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-group-1 {
    width: 300px;
  }

  .u-section-6 .u-btn-1 {
    margin-right: 135px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 430px;
}

.u-section-7 .u-group-1 {
  width: 570px;
  min-height: 101px;
  height: auto;
  margin: 24px auto 0 0;
}

.u-section-7 .u-text-1 {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  font-weight: 700;
}

.u-section-7 .u-layout-wrap-1 {
  width: 1140px;
  margin: 0 auto 45px 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 260px;
}

.u-section-7 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-7 .u-text-2 {
  position: relative;
  margin: 23px 0 0;
}

.u-section-7 .u-text-3 {
  font-size: 1rem;
  margin: 8px 0 0;
}

.u-section-7 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-7 .u-text-5 {
  font-size: 1rem;
  margin: 8px 0 23px;
}

.u-section-7 .u-layout-cell-2 {
  background-image: none;
  min-height: 260px;
}

.u-section-7 .u-container-layout-3 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-7 .u-text-6 {
  position: relative;
  margin: 23px 0 0;
}

.u-section-7 .u-text-7 {
  font-size: 1rem;
  margin: 8px 0 0;
}

.u-section-7 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-7 .u-text-9 {
  font-size: 1rem;
  margin: 8px 0 23px;
}

.u-section-7 .u-layout-cell-3 {
  background-image: none;
  min-height: 260px;
}

.u-section-7 .u-container-layout-4 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-7 .u-text-10 {
  position: relative;
  margin: 23px 0 0;
}

.u-section-7 .u-text-11 {
  font-size: 1rem;
  margin: 8px 0 0;
}

.u-section-7 .u-text-12 {
  margin: 20px 0 0;
}

.u-section-7 .u-text-13 {
  font-size: 1rem;
  margin: 8px 0 23px;
}

.u-section-7 .u-layout-cell-4 {
  background-image: none;
  min-height: 260px;
}

.u-section-7 .u-container-layout-5 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-7 .u-text-14 {
  position: relative;
  margin: 23px 0 0;
}

.u-section-7 .u-text-15 {
  font-size: 1rem;
  margin: 8px 0 0;
}

.u-section-7 .u-text-16 {
  margin: 20px 0 0;
}

.u-section-7 .u-text-17 {
  font-size: 1rem;
  margin: 8px 0 23px;
}

.u-section-7 .u-layout-cell-5 {
  background-image: none;
  min-height: 260px;
}

.u-section-7 .u-container-layout-6 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-7 .u-text-18 {
  position: relative;
  margin: 23px 0 0;
}

.u-section-7 .u-text-19 {
  font-size: 1rem;
  margin: 8px 0 0;
}

.u-section-7 .u-text-20 {
  margin: 20px 0 0;
}

.u-section-7 .u-text-21 {
  font-size: 1rem;
  margin: 8px 0 23px;
}

@media (max-width: 1399px) {
  .u-section-7 .u-group-1 {
    height: auto;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-text-3 {
    font-size: 0.875rem;
  }

  .u-section-7 .u-text-5 {
    font-size: 0.875rem;
  }

  .u-section-7 .u-text-7 {
    font-size: 0.875rem;
  }

  .u-section-7 .u-text-9 {
    font-size: 0.875rem;
  }

  .u-section-7 .u-text-11 {
    font-size: 0.875rem;
  }

  .u-section-7 .u-text-13 {
    font-size: 0.875rem;
  }

  .u-section-7 .u-text-15 {
    font-size: 0.875rem;
  }

  .u-section-7 .u-text-17 {
    font-size: 0.875rem;
  }

  .u-section-7 .u-text-19 {
    font-size: 0.875rem;
  }

  .u-section-7 .u-text-21 {
    font-size: 0.875rem;
  }
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-7 .u-group-1 {
    width: 470px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-7 .u-container-layout-6 {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-group-1 {
    width: 360px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-text-3 {
    width: auto;
    margin-top: 13px;
    margin-right: 125px;
  }

  .u-section-7 .u-text-4 {
    margin-top: 15px;
  }

  .u-section-7 .u-text-7 {
    width: auto;
    margin-right: 100px;
  }

  .u-section-7 .u-text-11 {
    width: auto;
    margin-right: 102px;
  }

  .u-section-7 .u-text-15 {
    width: auto;
    margin-right: 140px;
  }

  .u-section-7 .u-text-19 {
    width: auto;
    margin-right: 79px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1195px;
  }

  .u-section-7 .u-group-1 {
    width: 454px;
    min-height: 118px;
    margin-left: auto;
  }

  .u-section-7 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-bottom: 53px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 202px;
  }

  .u-section-7 .u-text-3 {
    width: 415px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-text-5 {
    margin-bottom: 0;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 202px;
  }

  .u-section-7 .u-text-7 {
    margin-left: 50px;
    margin-right: 50px;
    width: 440px;
  }

  .u-section-7 .u-text-9 {
    margin-bottom: 0;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 202px;
  }

  .u-section-7 .u-text-11 {
    margin-left: 51px;
    margin-right: 51px;
    width: 438px;
  }

  .u-section-7 .u-text-13 {
    margin-bottom: 0;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 202px;
  }

  .u-section-7 .u-text-15 {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-text-17 {
    margin-bottom: 0;
  }

  .u-section-7 .u-layout-cell-5 {
    min-height: 202px;
  }

  .u-section-7 .u-text-19 {
    margin-left: 40px;
    margin-right: 40px;
    width: 461px;
  }

  .u-section-7 .u-text-21 {
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-group-1 {
    width: 283px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 15px;
  }

  .u-section-7 .u-text-3 {
    width: 256px;
    margin-top: 6px;
  }

  .u-section-7 .u-text-4 {
    margin-top: 12px;
  }

  .u-section-7 .u-text-5 {
    margin-bottom: 15px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 204px;
  }

  .u-section-7 .u-text-7 {
    width: 240px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 205px;
  }

  .u-section-7 .u-text-11 {
    width: 238px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-text-14 {
    margin-top: 14px;
  }

  .u-section-7 .u-text-15 {
    width: 266px;
    margin-top: 0;
  }

  .u-section-7 .u-text-16 {
    margin-top: 21px;
  }

  .u-section-7 .u-text-17 {
    margin-bottom: 14px;
  }

  .u-section-7 .u-layout-cell-5 {
    min-height: 204px;
  }

  .u-section-7 .u-text-19 {
    width: auto;
    margin-left: 12px;
    margin-right: 12px;
  }
}