{% extends "base.html" %}

{% load static %}

{% block container %}
      
    <section class="u-clearfix u-image u-section-1" id="sec-263f" data-image-width="1500" data-image-height="1000">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-container-align-center-xs u-container-style u-expanded-width-sm u-expanded-width-xs u-group u-shape-rectangle u-group-1">
          <div class="u-container-layout u-valign-middle u-container-layout-1">
            <h6 class="u-align-center-xs u-text u-text-body-alt-color u-text-default u-text-3">bmw</h6>
            <h1 class="u-align-center-xs u-text u-text-body-alt-color u-text-4"> bmw mashin ishlab chiqarishdagi rivojalnishdagi modellar</h1>
            <a href="#" class="u-align-center-xs u-border-none u-btn u-button-style u-hover-palette-3-light-2 u-palette-3-base u-btn-1">read more</a>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-grey-90 u-section-2" id="sec-8486">
      <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-xl u-sheet-1">
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-container-align-center u-container-style u-image u-image-round u-list-item u-radius-50 u-repeater-item u-shading u-image-1" data-image-width="1500" data-image-height="1000">
              <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-1">
                <h6 class="u-align-center u-text u-text-default u-text-1"> Food Sourcing</h6>
              </div>
            </div>
            <div class="u-container-align-center u-container-style u-image u-image-round u-list-item u-radius-50 u-repeater-item u-shading u-image-2" data-image-width="2250" data-image-height="1500">
              <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-2">
                <h6 class="u-align-center u-text u-text-default u-text-2"> Menu Development</h6>
              </div>
            </div>
            <div class="u-container-align-center u-container-style u-image u-image-round u-list-item u-radius-50 u-repeater-item u-shading u-image-3" data-image-width="1500" data-image-height="1000">
              <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-3">
                <h6 class="u-align-center u-text u-text-default u-text-3"> Restaurant</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-grey-90 u-section-3" id="sec-3d95">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="data-layout-selected u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-align-center-sm u-container-align-center-xs u-container-style u-layout-cell u-size-30 u-layout-cell-1">
                <div class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-container-layout-1">
                  <h2 class="u-align-center-sm u-align-center-xs u-text u-text-1">$2700</h2>
                  <h6 class="u-align-center-sm u-align-center-xs u-text u-text-default u-text-2"> Beef with ginger</h6>
                  <p class="u-align-center-sm u-align-center-xs u-text u-text-3"> Article evident arrived express highest men did boy. Mistress sensible entirely am so. Quick can manor smart money hopes worth too. Comfort produce husband boy her had hearing. Law others theirs passed but wishes. You day real less till dear read. Considered use dispatched melancholy sympathize discretion led. Oh feel if up to till like. </p>
                </div>
              </div>
              <div class="u-container-align-center u-container-style u-layout-cell u-size-30 u-layout-cell-2">
                <div class="u-container-layout u-valign-middle u-container-layout-2">
                  <img class="u-image u-image-round u-radius-50 u-image-1" src="{% static 'images/8981217-0.jpeg' %}" alt="" data-image-width="1500" data-image-height="1000">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-grey-90 u-section-4" id="carousel_893b">
      <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-xl u-sheet-1">
        <div class="u-expanded-width u-layout-horizontal u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-container-style u-image u-image-round u-list-item u-radius-50 u-repeater-item u-shading u-image-1" data-image-width="1500" data-image-height="996">
              <div class="u-container-layout u-similar-container u-container-layout-1"></div>
            </div>
            <div class="u-container-align-center u-container-style u-image u-image-round u-list-item u-radius-50 u-repeater-item u-shading u-image-2" data-image-width="1000" data-image-height="1500">
              <div class="u-container-layout u-similar-container u-container-layout-2"></div>
            </div>
            <div class="u-container-align-center u-container-style u-image u-image-round u-list-item u-radius-50 u-repeater-item u-shading u-image-3" data-image-width="2000" data-image-height="1500">
              <div class="u-container-layout u-similar-container u-container-layout-3"></div>
            </div>
          </div>
          <a class="u-absolute-vcenter u-gallery-nav u-gallery-nav-prev u-icon-circle u-opacity u-opacity-70 u-palette-4-base u-spacing-10 u-text-body-color u-gallery-nav-1" href="#" role="button">
            <span aria-hidden="true">
              <svg viewBox="0 0 451.847 451.847"><path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path></svg>
            </span>
            <span class="sr-only">
              <svg viewBox="0 0 451.847 451.847"><path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path></svg>
            </span>
          </a>
          <a class="u-gallery-nav u-gallery-nav-next u-icon-circle u-opacity u-opacity-70 u-palette-4-base u-spacing-10 u-text-body-color u-gallery-nav-2" href="#" role="button">
            <span aria-hidden="true">
              <svg viewBox="0 0 451.846 451.847"><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></svg>
            </span>
            <span class="sr-only">
              <svg viewBox="0 0 451.846 451.847"><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></svg>
            </span>
          </a>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-grey-90 u-section-5" id="carousel_3b09">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="data-layout-selected u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-align-center u-container-style u-layout-cell u-size-30 u-layout-cell-1">
                <div class="u-container-layout u-container-layout-1">
                  <img class="u-image u-image-round u-radius-50 u-image-1" src="{% static 'images/2022_BMW_X1_CRI_02_2022_5075.jpg' %}" alt="" data-image-width="1000" data-image-height="1500">
                </div>
              </div>
              <div class="u-container-align-center-sm u-container-align-center-xs u-container-align-left-lg u-container-align-left-md u-container-align-left-xl u-container-style u-layout-cell u-size-30 u-layout-cell-2">
                <div class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-container-layout-2">
                  <h2 class="u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-md u-align-left-xl u-text u-text-1">$4000</h2>
                  <h6 class="u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-md u-align-left-xl u-text u-text-default u-text-2">Bmw x1</h6>
                  <p class="u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-md u-align-left-xl u-text u-text-3"> biz bunda model ishlab chiqarish alaqachon tugangan</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-container-align-center u-grey-90 u-section-6" id="sec-0040">
      <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-sheet-1">
        <h2 class="u-align-center u-text u-text-default u-text-1">bmw modellar</h2>
        <p class="u-align-center u-text u-text-default u-text-2">modelga bir ikkita misol <a href="https://freepik.com" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-3-base u-btn-1"></a>
        </p>
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-container-align-center u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
                <img class="u-expanded-width u-image u-image-round u-radius-50 u-image-1" src="{% static 'images/BMW_M4_Under_Rain.jpg' %}" alt="" data-image-width="1500" data-image-height="1207">
                <h6 class="u-align-center u-text u-text-default u-text-3">bmw m4</h6>
                <a href="#" class="u-align-center u-border-none u-btn u-button-style u-palette-4-base u-btn-2"> read more</a>
              </div>
            </div>
            <div class="u-container-align-center u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2">
                <img class="u-expanded-width u-image u-image-round u-radius-50 u-image-2" src="{% static 'images/BMW_X6_M_Competition_(51810371798).jpg' %}" alt="" data-image-width="1500" data-image-height="1000">
                <h6 class="u-align-center u-text u-text-default u-text-4">Bmw x6</h6>
                <a href="#" class="u-align-center u-border-none u-btn u-button-style u-palette-4-base u-btn-3">read more</a>
              </div>
            </div>
            <div class="u-container-align-center u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3">
                <img class="u-expanded-width u-image u-image-round u-radius-50 u-image-3" src="{% static 'images/BMW_M8_Competition.jpg' %}" alt="" data-image-width="1000" data-image-height="1500">
                <h6 class="u-align-center u-text u-text-default u-text-5">bmw m8</h6>
                <a href="#" class="u-align-center u-border-none u-btn u-button-style u-palette-4-base u-btn-4"> read more</a>
              </div>
            </div>
            <div class="u-container-align-center u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-4">
                <img class="u-expanded-width u-image u-image-round u-radius-50 u-image-4" src="{% static 'images/330px-BMW_G22_IMG_3639.jpg' %}" alt="" data-image-width="2002" data-image-height="1500">
                <h6 class="u-align-center u-text u-text-default u-text-6">bmw G22</h6>
                <a href="#" class="u-align-center u-border-none u-btn u-button-style u-palette-4-base u-btn-5"> read more</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-grey-90 u-section-7" id="carousel_3ae1">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="data-layout-selected u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-align-center-sm u-container-align-center-xs u-container-style u-layout-cell u-size-30 u-layout-cell-1">
                <div class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-container-layout-1">
                  <h2 class="u-align-center-sm u-align-center-xs u-text u-text-1">$14000</h2>
                  <h6 class="u-align-center-sm u-align-center-xs u-text u-text-default u-text-2"> Bmw 8</h6>
                  <p class="u-align-center-sm u-align-center-xs u-text u-text-3">bu model chuda ham chidamli qilib chiqarilgan bo'lib uni tezlik vaqti salo'nga unicha bilmaydi</p>
                </div>
              </div>
              <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-2">
                <div class="u-container-layout u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-container-layout-2">
                  <img class="u-image u-image-round u-radius-50 u-image-1" src="{% static 'images/2018_BMW_8_Series_G15.jpg' %}" alt="" data-image-width="1500" data-image-height="1000">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-container-align-center-sm u-container-align-center-xs u-image u-shading u-section-8" id="sec-b406" data-image-width="1500" data-image-height="807">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h2 class="u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-md u-align-left-xl u-text u-text-3"> Keep up to date with us</h2>
        <p class="u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-md u-align-left-xl u-text u-text-4">Sample text. Click to select the Text Element.</p>
      </div>
    </section>
    <section class="u-clearfix u-grey-90 u-section-9" id="sec-33fa">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-container-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle">
              <div class="u-container-layout u-similar-container u-container-layout-1"><span class="u-align-center u-file-icon u-icon u-icon-circle u-palette-4-base u-icon-1"><img src="{% static 'images/646094-d1da5d31.png' %}" alt=""></span>
                <h6 class="u-align-center u-text u-text-1">Chart to us</h6>
                <p class="u-align-center u-text u-text-2">Our friendly team is here to help.<br>
                  <a href="#" class="u-active-none u-border-active-palette-3-base u-border-hover-palette-3-base u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-active-palette-3-base u-text-hover-palette-3-base u-text-palette-3-base u-btn-1">azimmaxanov9.com </a>
                </p>
              </div>
            </div>
            <div class="u-container-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle">
              <div class="u-container-layout u-similar-container u-container-layout-2"><span class="u-align-center u-file-icon u-icon u-icon-circle u-palette-4-base u-icon-2"><img src="{% static 'images/2838912-7facd193.png' %}" alt=""></span>
                <h6 class="u-align-center u-text u-text-3">Office</h6>
                <p class="u-align-center u-text u-text-4"> Come say hello at our office HQ.<br>
                  <a href="#" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-3-base u-btn-2">121 Rock Sreet, 21 Avenue,<br>New York, NY 92103-9000
                  </a>
                  <br>
                </p>
              </div>
            </div>
            <div class="u-container-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle">
              <div class="u-container-layout u-similar-container u-container-layout-3"><span class="u-align-center u-file-icon u-icon u-icon-circle u-palette-4-base u-icon-3"><img src="{% static 'images/8066424-92fb1413.png' %}" alt=""></span>
                <h6 class="u-align-center u-text u-text-5">Phone</h6>
                <p class="u-align-center u-text u-text-6"> Mon-Fri from 8am to 5am<br>
                  <a href="#" class="u-active-none u-border-active-palette-3-base u-border-hover-palette-3-base u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-active-palette-3-base u-text-hover-palette-3-base u-text-palette-3-base u-btn-3" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">+1(555) 000-000</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
{% endblock %}