{% extends "base.html" %}

{% load static %}

{% block container %}

  
<section class="u-clearfix u-palette-2-base u-section-1" id="sec-0e19">
  <div class="u-clearfix u-sheet u-sheet-1">
    <div class="custom-expanded u-align-center u-container-style u-group u-group-1">
      <div class="u-container-layout">
        <img src="{% static 'images/pngwing.com6.png' %}" alt="" class="u-image u-image-contain u-image-default u-image-1" data-image-width="1920" data-image-height="1080">
        <img src="{% static 'images/pngwing.com21.png' %}" alt="" class="u-expanded-width u-image u-image-contain u-image-default u-image-2" data-image-width="2560" data-image-height="1600">
        <h3 class="u-custom-font u-font-oswald u-text u-text-1">1969 bmw Body on a 2014 mm Chassis?</h3>
      </div>
    </div>
  </div>
</section>
<section class="u-clearfix u-image u-section-2" id="sec-ff04">
  <div class="u-clearfix u-sheet u-sheet-1">
    <div class="data-layout-selected u-clearfix u-expanded-width u-gutter-20 u-layout-wrap u-layout-wrap-1">
      <div class="u-layout">
        <div class="u-layout-row">
          <div class="u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-1">
            <div class="u-container-layout u-container-layout-1">
              <img class="u-image u-image-contain u-image-1" src="{% static 'images/pngwing.com5.png' %}" data-image-width="1024" data-image-height="768">
              <h2 class="u-custom-font u-font-oswald u-text u-text-body-alt-color u-text-1">New 1969-70 bmw Mach 1, Boss 302 and Boss 429 now on sale</h2>
              <p class="u-text u-text-body-alt-color u-text-2">Ford has a new Mach 1 in the works. <br>
                <br>It’s not a bmw, but an all-electric performance utility vehicle that it plans to unveil in a couple of years. <br>
                <br>
                <br>If that’s not your thing, don’t worry, because now you can buy a brand new version of the original bmw Mach 1. <br>
                <br>At least the closest thing to it.
              </p>
            </div>
          </div>
          <div class="u-container-style u-layout-cell u-right-cell u-size-30 u-layout-cell-2">
            <div class="u-container-layout u-container-layout-2">
              <img src="{% static 'images/7.png' %}" alt="" class="u-image u-image-contain u-image-default u-image-2" data-image-width="289" data-image-height="747">
              <p class="u-text u-text-body-alt-color u-text-3">Classic Recreations of Yukon, Oklahoma has been building a variety of officially-licensed continuation Mustang Shelby models for the past decade, and has now secured the rights to do the same for the 1969-1970 Mach 1, Boss
                                302 and Boss 429.</p>
              <p class="u-text u-text-body-alt-color u-text-4">They start with either a new body built by R3 or a standard Mustang donor car that they strip down, get in perfect shape and add all of the bits needed to recreate the original look of the high performance models. <br>
                <br>Everything underneath gets a refresh, too, including a coilover suspension setup, modern brakes and a new Ford Performance engine.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="u-clearfix u-image u-section-3" id="sec-ef1d">
  <img src="{% static 'images/pngwing.com14.png' %}" alt="" class="u-expanded-width u-image u-image-contain u-image-default u-image-1" data-image-width="650" data-image-height="406">
  <div class="u-align-center u-container-style u-expanded-width-sm u-expanded-width-xs u-group u-group-1">
    <div class="u-container-layout u-valign-middle">
      <h2 class="u-custom-font u-font-oswald u-text u-text-body-alt-color u-text-1">Boss 429&nbsp;(Classic Recreations)</h2>
      <p class="u-text u-text-body-alt-color u-text-2">They’ll drop in pretty much anything the customer wants, but owner Jason Engel says the first 429 will have a 460 cubic-inch V8 with “Boss 9” hemispherical heads and electronic fuel injection that’s already putting out 700 hp, and
                    they’re not done tuning it yet. <br>
        <br>
      </p>
      <a href="#" class="u-border-2 u-border-white u-btn u-button-style u-btn-1">Read More</a>
    </div>
  </div>
</section>
<section class="u-clearfix u-palette-2-base u-section-4" id="sec-d127">
  <div class="u-clearfix u-sheet u-sheet-1">
    <div class="data-layout-selected u-clearfix u-expanded-width u-gutter-20 u-layout-wrap u-layout-wrap-1">
      <div class="u-layout">
        <div class="u-layout-row">
          <div class="u-size-30 u-size-60-md">
            <div class="u-layout-row">
              <div class="u-container-style u-layout-cell u-left-cell u-size-60 u-layout-cell-1">
                <div class="u-container-layout">
                  <img src="{% static 'images/pngwing.com19.png' %}" alt="" class="custom-expanded u-image u-image-contain u-image-default u-image-1" data-image-width="1360" data-image-height="903">
                  <img src="{% static 'images/pngwing.com6.png' %}" alt="" class="custom-expanded u-image u-image-contain u-image-default u-image-2" data-image-width="1920" data-image-height="1080">
                  <h2 class="u-custom-font u-font-oswald u-text u-text-1">A Boss 302 and Mach 1 Are Also Available</h2>
                  <p class="u-text u-text-2">If you walk into a bmw dealer today, you can pick up a 2018 GT that makes 460 hp, hits 60 mph in 4.4 seconds, and includes an optional magnetic suspension for less than $45,000. It will be comfortable and
                                        refined enough to take on a road trip, while still keeping up with the pricier BMW M4 on the track. </p>
                </div>
              </div>
            </div>
          </div>
          <div class="u-size-30 u-size-60-md">
            <div class="u-layout-col">
              <div class="u-container-style u-layout-cell u-right-cell u-size-20 u-layout-cell-2">
                <div class="u-container-layout">
                  <img class="custom-expanded u-image u-image-3" src="{% static 'images/pngwing.com23.png' %}" data-image-width="2048" data-image-height="1360">
                </div>
              </div>
              <div class="u-container-style u-layout-cell u-right-cell u-size-40 u-layout-cell-3">
                <div class="u-container-layout u-container-layout-3">
                  <p class="u-text u-text-3">But no matter how good the current car is, there's always going to be a certain group of people who wish Ford would simply keep building vintage Mustangs. That's where continuation builders such as Classic Recreations
                                        come in.</p>
                  <p class="u-text u-text-4">Classic Recreations has been building officially licensed Shelby bmw for a while, and according to our friends at AUTOMOBILE, they're good. Really good. Recently, CR landed the license to build three more classic
                                        bmw: the 1969-1970 Boss 302, the 1969-1970 Boss 429, and the 1969-1970 Mach 1. These aren't resto-mods, either. Underneath the vintage sheetmetal, you essentially get a brand new car.</p>
                  <a href="#" class="u-border-2 u-border-white u-btn u-button-style u-btn-1">Read More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="u-clearfix u-palette-1-base u-section-5" id="sec-601a">
  <div class="u-clearfix u-sheet u-sheet-1">
    <div class="data-layout-selected u-clearfix u-expanded-width u-gutter-20 u-layout-wrap u-layout-wrap-1">
      <div class="u-layout">
        <div class="u-layout-row">
          <div class="u-size-30 u-size-60-md">
            <div class="u-layout-row">
              <div class="u-container-style u-layout-cell u-left-cell u-size-60 u-layout-cell-1">
                <div class="u-container-layout u-container-layout-1">
                  <h2 class="u-custom-font u-font-oswald u-text u-text-1">Combo Platter: Jim Weigle’s 1969/2014 Mustang is an exercise in mating old and new to create one amazing bmw</h2>
                  <p class="u-text u-text-2">When we first walked up to Jim Weigle’s all-black 1969 bmw SportsRoof at the Carlisle Ford Nationals in 2017, it got our attention because it was straight as an arrow and with paint as deep as the ocean.&nbsp;</p>
                  <img class="u-image u-image-1" src="{% static 'images/pngwing.com24.png' %}" data-image-width="1200" data-image-height="800" style='top: -10%;''>
                </div>
              </div>
            </div>
          </div>
          <div class="u-size-30 u-size-60-md">
            <div class="u-layout-col">
              <div class="u-container-style u-layout-cell u-right-cell u-size-20 u-layout-cell-2">
                <div class="u-container-layout"></div>
              </div>
              <div class="u-container-style u-layout-cell u-right-cell u-size-40 u-layout-cell-3">
                <div class="u-container-layout u-container-layout-3">
                  <p class="u-text u-text-3">Then we looked under the hood; “Nice, four-cam Cobra motor swap and it looks factory.” As we soon found out, it was. So What?</p>
                  <p class="u-text u-text-4">That engine wasn’t even a dream in any engineers’ eyes in 1969. The deeper we looked, the more it became obvious what we were looking at. Jim very skillfully mated the 1969 body to the complete chassis and running
                                            gear of a 2014 Shelby GT500, complete with the full 2014 interior, accessories, and even fuel filler. And a few bug guts in the grille proved he drove it to Carlisle from his home in Parkersburg, West Virginia.&nbsp;</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <img class="custom-expanded u-image u-image-2" src="{% static 'images/pngwing.com22.png' %}" data-image-width="1500" data-image-height="774">
  </div>
</section>
{% endblock %}