{% extends "base.html" %}

{% load static %}

{% block container %}


    <section class="u-clearfix u-image u-shading u-section-1" id="carousel_4164" data-image-width="1980" data-image-height="1320">
      <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-xl u-sheet-1">
        <div class="u-align-left u-container-align-left u-container-style u-group u-white u-group-1">
          <div class="u-container-layout u-valign-middle u-container-layout-1">
            <h3 class="u-align-left u-text u-text-1"> Architecture &amp;Town Planning</h3>
            <p class="u-align-left u-text u-text-2">Sample text. Click to select the text box. Click again or double click to start editing the text.&nbsp;Condim entum mattis pellentesque id nibh tortor id aliquet.</p>
            <a href="#" class="u-active-black u-align-left u-border-none u-btn u-btn-round u-button-style u-hover-black u-palette-1-base u-radius-50 u-text-active-white u-text-hover-white u-btn-1">O'tish</a>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-container-align-center-md u-container-align-center-xl u-white u-section-2" id="carousel_9c7e">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h2 class="u-align-center u-text u-text-default u-text-1">Our Projects</h2>
        <p class="u-align-center u-text u-text-2"> Our projects stem from a commitment to the transformative role of ideas and their power to establish new realities that engage this world.</p>
        <div class="u-expanded-width-lg u-expanded-width-md u-palette-1-base u-shape u-shape-rectangle u-shape-1"></div>
        <div class="u-gallery u-layout-grid u-lightbox u-no-transition u-show-text-on-hover u-gallery-1">
          <div class="u-gallery-inner u-gallery-inner-1">
            <div class="u-effect-fade u-gallery-item">
              <div class="u-back-slide" data-image-width="1380" data-image-height="920">
                <img class="u-back-image u-expanded" src="{% static 'images/devon-janse-van-rensburg-4mh4JLuFies-unsplash.jpg' %}">
              </div>
              <div class="u-over-slide u-shading u-over-slide-1"></div>
            </div>
            <div class="u-effect-fade u-gallery-item">
              <div class="u-back-slide" data-image-width="1980" data-image-height="1510">
                <img class="u-back-image u-expanded" src="{% static 'images/devon-janse-van-rensburg-aJYOPvkDqOA-unsplash.jpg' %}">
              </div>
              <div class="u-over-slide u-shading u-over-slide-2"></div>
            </div>
            <div class="u-effect-fade u-gallery-item">
              <div class="u-back-slide" data-image-width="1380" data-image-height="920">
                <img class="u-back-image u-expanded" src="{% static 'images/pat__-TOigkN59Dcg-unsplash.jpg' %}">
              </div>
              <div class="u-over-slide u-shading u-over-slide-3"></div>
            </div>
            <div class="u-effect-fade u-gallery-item">
              <div class="u-back-slide" data-image-width="1380" data-image-height="920">
                <img class="u-back-image u-expanded" src="{% static 'images/pexels-maria-geller-801267-2127008.jpg' %}">
              </div>
              <div class="u-over-slide u-shading u-over-slide-4"></div>
            </div>
            <div class="u-effect-fade u-gallery-item">
              <div class="u-back-slide" data-image-width="1380" data-image-height="920">
                <img class="u-back-image u-expanded" src="{% static 'images/pexels-wdnet-515674.jpg' %}">
              </div>
              <div class="u-over-slide u-shading u-over-slide-5"></div>
            </div>
            <div class="u-effect-fade u-gallery-item">
              <div class="u-back-slide" data-image-width="1380" data-image-height="920">
                <img class="u-back-image u-expanded" src="{% static 'images/philipp-katzenberger-Y8-H19uSx-Y-unsplash.jpg' %}">
              </div>
              <div class="u-over-slide u-shading u-over-slide-6"></div>
            </div>
            <div class="u-effect-fade u-gallery-item">
              <div class="u-back-slide" data-image-width="1380" data-image-height="920">
                <img class="u-back-image u-expanded" src="{% static 'images/serjan-midili-bXHQDOxQg_M-unsplash.jpg' %}">
              </div>
              <div class="u-over-slide u-shading u-over-slide-7"></div>
            </div>
            <div class="u-effect-fade u-gallery-item">
              <div class="u-back-slide" data-image-width="1380" data-image-height="920">
                <img class="u-back-image u-expanded" src="{%  static 'images/serjan-midili-yedYysaveC8-unsplash.jpg' %}">
              </div>
              <div class="u-over-slide u-shading u-over-slide-8"></div>
            </div>
            <div class="u-effect-fade u-gallery-item">
              <div class="u-back-slide" data-image-width="1380" data-image-height="920">
                <img class="u-back-image u-expanded" src="{% static 'images/stephan-louis-qm1C36SOynk-unsplash.jpg' %}">
              </div>
              <div class="u-over-slide u-shading u-over-slide-9"></div>
            </div>
          </div>
        </div>
        <a href="#" class="u-active-black u-align-center u-border-none u-btn u-btn-round u-button-style u-hover-black u-palette-1-base u-radius-50 u-text-active-white u-text-hover-white u-btn-1">Contact Us</a>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-container-align-center u-palette-1-base u-section-3" id="sec-9357">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-align-center u-text u-text-default u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="0"> 900 residential projects</h2>
        <p class="u-align-center u-text u-text-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-align-center u-container-align-center-lg u-container-align-center-xl u-container-style u-list-item u-repeater-item u-shape-round u-top-left-radius-20 u-video-cover u-white u-list-item-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
                <img class="u-expanded-width u-image u-image-1" src="{% static 'images/dfdfdff.jpg' %}" alt="" data-image-width="740" data-image-height="925">
                <h5 class="u-align-center u-text u-text-3"> 22 Bishopsgate, London</h5>
              </div>
            </div>
            <div class="u-align-center u-container-align-center u-container-style u-list-item u-repeater-item u-shape-round u-top-left-radius-20 u-white u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2">
                <img class="u-expanded-width u-image u-image-2" src="{% static 'images/city90.jpg' %}" alt="" data-image-width="1380" data-image-height="920">
                <h5 class="u-align-center u-text u-text-4"> One Bishopsgate Plaza</h5>
              </div>
            </div>
            <div class="u-align-center u-container-align-center-lg u-container-align-center-md u-container-align-center-xl u-container-style u-list-item u-repeater-item u-shape-round u-top-left-radius-20 u-video-cover u-white u-list-item-3" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3">
                <img class="u-expanded-width u-image u-image-3" src="{% static 'images/ghgh1.jpg' %}" alt="" data-image-width="740" data-image-height="925">
                <h5 class="u-align-center u-text u-text-5"> Arbor, London, UK</h5>
              </div>
            </div>
            <div class="u-align-center u-container-align-center u-container-style u-list-item u-repeater-item u-shape-round u-top-left-radius-20 u-video-cover u-white u-list-item-4" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-4">
                <img class="u-expanded-width u-image u-image-4" src="{% static 'images/city235.jpg' %}" alt="" data-image-width="1380" data-image-height="920">
                <h5 class="u-align-center u-text u-text-6"> Bankside Yards</h5>
              </div>
            </div>
            <div class="u-align-center u-container-align-center u-container-style u-list-item u-repeater-item u-shape-round u-top-left-radius-20 u-video-cover u-white u-list-item-5" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-5">
                <img class="u-expanded-width u-image u-image-5" src="{% static 'images/456.jpg' %}" alt="" data-image-width="1380" data-image-height="920">
                <h5 class="u-align-center u-text u-text-7"> 4 Cannon Street</h5>
              </div>
            </div>
            <div class="u-align-center u-container-align-center u-container-style u-list-item u-repeater-item u-shape-round u-top-left-radius-20 u-video-cover u-white u-list-item-6" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-6">
                <img class="u-expanded-width u-image u-image-6" src="{% static 'images/city-9.jpg' %}" alt="" data-image-width="1380" data-image-height="920">
                <h5 class="u-align-center u-text u-text-8"> Westferry Printworks</h5>
              </div>
            </div>
            <div class="u-align-center u-container-align-center u-container-style u-list-item u-repeater-item u-shape-round u-top-left-radius-20 u-video-cover u-white u-list-item-7" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-7">
                <img class="u-expanded-width u-image u-image-7" src="{% static 'images/4680.jpg' %}" alt="" data-image-width="1380" data-image-height="920">
                <h5 class="u-align-center u-text u-text-9"> Park Modern, London</h5>
              </div>
            </div>
            <div class="u-align-center u-container-align-center u-container-style u-list-item u-repeater-item u-shape-round u-top-left-radius-20 u-video-cover u-white u-list-item-8" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-8">
                <img class="u-expanded-width u-image u-image-8" src="{% static 'images/r5.jpg' %}" alt="" data-image-width="1380" data-image-height="920">
                <h5 class="u-align-center u-text u-text-10"> Park Nova, Singapore</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-section-4" id="carousel_1673">
      <div class="u-expanded-width u-palette-1-base u-shape u-shape-rectangle u-shape-1"></div>
      <img src="{% static 'images/matteo-balzanelli-yEQHxc2PEFo-unsplash.jpg' %}" class="u-align-left u-image u-image-default u-image-1" data-image-width="1380" data-image-height="920">
      <div class="u-align-left u-container-align-left u-container-style u-group u-palette-5-dark-3 u-shape-rectangle u-group-1">
        <div class="u-container-layout u-valign-middle u-container-layout-1">
          <h2 class="u-align-left u-text u-text-1"> We provide architects services in London</h2>
          <p class="u-align-left u-text u-text-2">Egestas purus viverra accumsan in nisl nisi. Enim nec dui nunc mattis enim ut. Consequat interdum varius sit amet mattis vulputate enim nulla. Fusce ut placerat orci nulla pellentesque dignissim enim sit amet.</p>
          <a href="#" class="u-active-palette-5-dark-2 u-align-left u-border-none u-btn u-btn-round u-button-style u-hover-palette-5-dark-2 u-radius-50 u-text-active-white u-text-hover-white u-white u-btn-1" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">read more</a>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-container-align-center u-section-5" id="carousel_2a01">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h2 class="u-align-center u-text u-text-default u-text-1">Awards </h2>
        <p class="u-align-center u-text u-text-default u-text-2"> These core values define who we are and the work we do.</p>
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-border-2 u-border-grey-15 u-border-no-left u-border-no-right u-border-no-top u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-1">
                <h4 class="u-text u-text-default u-text-3"> 2022</h4>
                <p class="u-text u-text-4"> RIBA Awards 2022 - Shortlisted&nbsp;<br>Archdaily - Building of the Year / Shortlisted<br>Brick Development Association Awards - Architects’ Choice / Winner <br>Brick Development Association Awards - Craftsmanship / Shortlisted <br>Dezeen Awards - Rural House / Longlisted<br>
                </p>
              </div>
            </div>
            <div class="u-border-2 u-border-grey-15 u-border-no-left u-border-no-right u-border-no-top u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-2">
                <h4 class="u-text u-text-default u-text-5"> 2019</h4>
                <p class="u-text u-text-6"> Sunday Times Awards - Architect of the Year / Winner <br>Sunday Times Awards - Small Development / Winner <br>Sunday Times Awards - Large House / Commendation <br>Architizer A+ Awards - Architecture + Brick / Winner <br>Architects Journal Specification Awards - Winner <br>Architects Journal Awards - Manser Medal / Shortlisted
                </p>
              </div>
            </div>
            <div class="u-border-2 u-border-grey-15 u-border-no-left u-border-no-right u-border-no-top u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-3">
                <h4 class="u-text u-text-default u-text-7"> 2018</h4>
                <p class="u-text u-text-8"> RIBA Awards 2020 - Shortlisted<br>London Design Awards - Silver Medal / Winner<br>BD Young Architect of the Year Award / Shortlisted<br>New London Architecture Awards - Conserving / Shortlisted
                </p>
              </div>
            </div>
            <div class="u-border-2 u-border-grey-15 u-border-no-left u-border-no-right u-border-no-top u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-4">
                <h4 class="u-text u-text-default u-text-9"> 2017</h4>
                <p class="u-text u-text-10"> British Construction Industry Awards - Housing Project / Shortlisted <br>New London Architecture Awards - Best Homes / Shortlisted <br>What House? Awards / Best Exterior / Bronze Medal <br>Brick Development Association Awards - Small development / Winner
                </p>
              </div>
            </div>
            <div class="u-border-2 u-border-grey-15 u-border-no-left u-border-no-right u-border-no-top u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-5">
                <h4 class="u-text u-text-default u-text-11"> 2016</h4>
                <p class="u-text u-text-12">Sunday Times Awards - Large House / Commendation <br>Architizer A+ Awards - Architecture + Brick / Winner <br>Architects Journal Specification Awards - Winner <br>Architects Journal Awards - Manser Medal / Shortlisted
                </p>
              </div>
            </div>
            <div class="u-border-2 u-border-grey-15 u-border-no-left u-border-no-right u-border-no-top u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-6">
                <h4 class="u-text u-text-default u-text-13"> 2015</h4>
                <p class="u-text u-text-14"> FX Awards - Breakthrough Talent of the Year / Winner <br>London Design Awards - Silver Medal / Winner <br>Sunday Times Awards - Best Home / Winner <br>Sunday Times Awards - Manser Medal / Shortlisted
                </p>
              </div>
            </div>
          </div>
        </div>
        <a href="#" class="u-active-black u-align-center u-border-none u-btn u-btn-round u-button-style u-hover-black u-palette-1-base u-radius-50 u-text-active-white u-text-hover-white u-btn-1">Read more</a>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-image u-shading u-section-6" id="sec-6960" data-image-width="1980" data-image-height="1510" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-align-left u-container-style u-list-item u-palette-1-base u-repeater-item u-shape-rectangle u-list-item-1" data-animation-name="bounceIn" data-animation-duration="1500" data-animation-direction="Right" data-animation-delay="500">
              <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-1">
                <h5 class="u-text u-text-3"><span class="u-file-icon u-icon u-text-white u-icon-1"><img src="images/597177-de35359a.png" alt=""></span>&nbsp;Call Us
                </h5>
                <p class="u-text u-text-4">1 (234) 567-891,<br>1 (234) 987-654
                </p>
              </div>
            </div>
            <div class="u-align-left u-container-style u-list-item u-palette-1-base u-repeater-item u-shape-rectangle u-list-item-2" data-animation-name="bounceIn" data-animation-duration="1500" data-animation-direction="Right" data-animation-delay="500">
              <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-2">
                <h5 class="u-text u-text-5"><span class="u-file-icon u-icon u-text-white u-icon-2"><img src="images/484167-0f572cc8.png" alt=""></span>&nbsp;Location
                </h5>
                <p class="u-text u-text-6">121 Rock Sreet, 21 Avenue, New York, NY 92103-9000</p>
              </div>
            </div>
            <div class="u-align-left u-container-style u-list-item u-palette-1-base u-repeater-item u-shape-rectangle u-list-item-3" data-animation-name="bounceIn" data-animation-duration="1500" data-animation-direction="Right" data-animation-delay="500">
              <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-3">
                <h5 class="u-text u-text-7"><span class="u-file-icon u-icon u-text-white u-icon-3"><img src="images/1827379-21b799be.png" alt=""></span>&nbsp;Hours
                </h5>
                <p class="u-text u-text-8">Mon – Fri …… 11 am – 8 pm, Sat, Sun&nbsp;&nbsp;…… 6 am – 8 pm</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
   
{% endblock %}