{% extends "base.html" %}

{% load static %}

{% block container %}
   <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <section class="u-clearfix u-container-align-center-sm u-image u-section-1" id="carousel_72e0" data-image-width="1980" data-image-height="1320">
      <div class="u-clearfix u-sheet u-valign-middle-xs u-sheet-1">
        <div class="u-expanded-width-sm u-expanded-width-xs u-palette-3-base u-shape u-shape-rectangle u-shape-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250"></div>
        <div class="u-container-align-left u-container-style u-group u-white u-group-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
          <div class="u-container-layout u-container-layout-1">
            <h4 class="u-align-left u-text u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500"> Our Company</h4>
            <h1 class="u-align-left u-text u-text-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750"> Customer First, People Led, Innovation Driven</h1>
            <a href="#qwerty" class="u-align-left u-btn u-button-style u-palette-3-base u-btn-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750" data-animation-direction="" >contact Us</a>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-container-align-center-lg u-container-align-center-md u-container-align-center-xl u-container-align-center-xs u-grey-10 u-section-2" id="carousel_f25f">
      <div class="u-expanded-width u-palette-3-base u-shape u-shape-rectangle u-shape-1"></div>
      <h2 class="u-align-center u-text u-text-body-alt-color u-text-default-lg u-text-default-md u-text-default-xl u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1500"> We Connect the World</h2>
      <p class="u-align-center u-text u-text-body-alt-color u-text-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.</p>
      <div class="u-list u-list-1">
        <div class="u-repeater u-repeater-1">
          <div class="u-align-center u-container-style u-list-item u-repeater-item u-white u-list-item-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
            <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
              <img src="{% static 'images/industrial-port-container-yard_1.jpg' %}" alt="" class="u-expanded-width u-image u-image-default u-image-1" data-image-width="1380" data-image-height="951">
              <h3 class="u-text u-text-3">Our Strategy</h3>
              <p class="u-text u-text-grey-50 u-text-4">Suspendisse vulputate eros in velit fermentum cursus. Nulla fringilla justo tellus, at sodales eros laoreet a. Quisque facilisis lorem augue, sit amet</p>
            </div>
          </div>
          <div class="u-align-center u-container-style u-list-item u-repeater-item u-video-cover u-white u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
            <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2">
              <img src="{% static 'images/truck-vehicle-with-trailers-back.jpg' %}" alt="" class="u-expanded-width u-image u-image-default u-image-2" data-image-width="1380" data-image-height="920">
              <h3 class="u-text u-text-5"> Leadership</h3>
              <p class="u-text u-text-grey-50 u-text-6">Suspendisse vulputate eros in velit fermentum cursus. Nulla fringilla justo tellus, at sodales eros laoreet a. Quisque facilisis lorem augue, sit amet</p>
            </div>
          </div>
          <div class="u-align-center u-container-style u-list-item u-repeater-item u-video-cover u-white u-list-item-3" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
            <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3">
              <img src="{% static 'images/aerial-view-container-cargo-ship.jpg' %}" alt="" class="u-expanded-width u-image u-image-default u-image-3" data-image-width="1380" data-image-height="919">
              <h3 class="u-text u-text-7"> Innovation Driven</h3>
              <p class="u-text u-text-grey-50 u-text-8">Suspendisse vulputate eros in velit fermentum cursus. Nulla fringilla justo tellus, at sodales eros laoreet a. Quisque facilisis lorem augue, sit amet</p>
            </div>
          </div>
        </div>
      </div>
      <a href="#" class="u-align-center u-btn u-button-style u-palette-3-base u-btn-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="1000" data-animation-direction="">learn more</a>
    </section>
    <section class="u-align-center u-clearfix u-container-align-center u-white u-section-3" id="carousel_1493">
      <div class="u-expanded-width u-grey-10 u-shape u-shape-rectangle u-shape-1" data-animation-name="flipIn" data-animation-duration="1500" data-animation-delay="500" data-animation-direction="X"></div>
      <div class="data-layout-selected u-clearfix u-gutter-0 u-layout-wrap u-layout-wrap-1">
        <div class="u-layout" style="">
          <div class="u-layout-row" style="">
            <div class="u-align-center u-container-style u-image u-layout-cell u-left-cell u-size-30-lg u-size-30-xl u-size-60-md u-size-60-sm u-size-60-xs u-size-xs-60 u-image-1" src="" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500" data-image-width="1380" data-image-height="920">
              <div class="u-container-layout u-valign-top u-container-layout-1" src=""></div>
            </div>
            <div class="u-align-left u-container-align-left u-container-style u-layout-cell u-right-cell u-size-30-lg u-size-30-xl u-size-60-md u-size-60-sm u-size-60-xs u-size-xs-60 u-white u-layout-cell-2" data-animation-name="customAnimationIn" data-animation-duration="1500">
              <div class="u-container-layout u-valign-middle u-container-layout-2">
                <h4 class="u-align-left u-text u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500"> Our Company</h4>
                <h3 class="u-align-left u-text u-text-2"> Leading the industry and connecting the world.</h3>
                <p class="u-align-left u-text u-text-3">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident</p>
                <a href="#" class="u-align-left u-btn u-button-style u-palette-3-base u-btn-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750" data-animation-direction="">contact Us</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      
    <!-- Checkout Start -->
    <!-- checkout.html -->
<form method="POST">
  {% csrf_token %}
  <div class="container-fluid" id='qwerty'>
      <div class="row px-xl-5">
          <div class="col-lg-8">
              <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Billing Address</span></h5>
              <div class="bg-light p-30 mb-5">
                  <div class="row">
                    <div class="col-md-6 form-group">
                      <label>First Name</label>
                      {{ billing_form.first_name }}
                    </div>
                    <div class="col-md-6 form-group">
                      <label>Last Name</label>
                      {{ billing_form.last_name }}
                    </div>
                    <div class="col-md-6 form-group">
                      <label>E-mail</label>
                      {{ billing_form.email }}
                    </div>
                    <div class="col-md-6 form-group">
                      <label>Mobile No</label>
                      {{ billing_form.mobile_no }}
                    </div>
                    <div class="col-md-6 form-group">
                      <label>Address Line 1</label>
                      {{ billing_form.address_line1 }}
                    </div>
                    <div class="col-md-6 form-group">
                      <label>Address Line 2</label>
                      {{ billing_form.address_line2}}
                    </div>
                    <div class="col-md-6 form-group">
                      <label>Country</label>
                      {{ billing_form.country}}
                    </div>
                    <div class="col-md-6 form-group">
                      <label>City</label>
                      {{ billing_form.city}}
                    </div>
                    <div class="col-md-6 form-group">
                      <label>State</label>
                      {{ billing_form.state}}
                    </div>
                    <div class="col-md-6 form-group">
                      <label>ZIP Code</label>
                      {{ billing_form.zip_code}}
                    </div>                                          
                  </div>
              </div>
              {% comment %} <div class="collapse mb-5" id="shipping-address">
                  <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Shipping Address</span></h5>
                  <div class="bg-light p-30">
                      <div class="row">
                        <div class="col-md-6 form-group">
                          <label>First Name</label>
                          {{ shipping_formfirst_name }}
                        </div>
                        <div class="col-md-6 form-group">
                          <label>Last Name</label>
                          {{ shipping_form.last_name }} 
                        </div>
                        <div class="col-md-6 form-group">
                          <label>E-mail</label>
                          {{ shipping_form.email }}
                        </div>
                        <div class="col-md-6 form-group">
                          <label>Mobile No</label>
                          {{ shipping_form.mobile_no }}
                        </div>
                        <div class="col-md-6 form-group">
                          <label>Address Line 1</label>
                          {{ shipping_form.address_line1 }}
                        </div>
                        <div class="col-md-6 form-group">
                          <label>Address Line 2</label>
                          {{ shipping_form.address_line2}}
                        </div>
                        <div class="col-md-6 form-group">
                          <label>Country</label>
                          {{ shipping_form.country}}
                        </div>
                        <div class="col-md-6 form-group">
                          <label>City</label>
                          {{ shipping_form.city}}
                        </div>
                        <div class="col-md-6 form-group">
                          <label>State</label>
                          {{ shipping_form.state}}
                        </div>
                        <div class="col-md-6 form-group">
                          <label>ZIP Code</label>
                          {{ shipping_form.zip_code}}
                        </div>
                      </div>
                  </div>
              </div> {% endcomment %}
          </div>
          <div class="col-lg-4">
              <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Order Total</span></h5>
              <div class="mb-5">
                  <div class="bg-light p-30">
                      <!-- Payment options HTML here -->
                      <button class="btn btn-block btn-primary font-weight-bold py-3">Submit</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</form>

    {% comment %} <div class="container-fluid" id='qwerty'>
      <div class="row px-xl-5">
          <div class="col-lg-8">
              <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Billing Address</span></h5>
              <div class="bg-light p-30 mb-5">
                  <div class="row">
                      <div class="col-md-6 form-group">
                          <label>First Name</label>
                          <input class="form-control" type="text" placeholder="John">
                      </div>
                      <div class="col-md-6 form-group">
                          <label>Last Name</label>
                          <input class="form-control" type="text" placeholder="Doe">
                      </div>
                      <div class="col-md-6 form-group">
                          <label>E-mail</label>
                          <input class="form-control" type="text" placeholder="example@email.com">
                      </div>
                      <div class="col-md-6 form-group">
                          <label>Mobile No</label>
                          <input class="form-control" type="text" placeholder="+123 456 789">
                      </div>
                      <div class="col-md-6 form-group">
                          <label>Address Line 1</label>
                          <input class="form-control" type="text" placeholder="123 Street">
                      </div>
                      <div class="col-md-6 form-group">
                          <label>Address Line 2</label>
                          <input class="form-control" type="text" placeholder="123 Street">
                      </div>
                      <div class="col-md-6 form-group">
                          <label>Country</label>
                          <select class="custom-select">
                              <option selected>United States</option>
                              <option>Afghanistan</option>
                              <option>Albania</option>
                              <option>Algeria</option>
                          </select>
                      </div>
                      <div class="col-md-6 form-group">
                          <label>City</label>
                          <input class="form-control" type="text" placeholder="New York">
                      </div>
                      <div class="col-md-6 form-group">
                          <label>State</label>
                          <input class="form-control" type="text" placeholder="New York">
                      </div>
                      <div class="col-md-6 form-group">
                          <label>ZIP Code</label>
                          <input class="form-control" type="text" placeholder="123">
                      </div>
                      <div class="col-md-12 form-group">
                          <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="newaccount">
                              <label class="custom-control-label" for="newaccount">Create an account</label>
                          </div>
                      </div>
                      <div class="col-md-12">
                          <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="shipto">
                              <label class="custom-control-label" for="shipto"  data-toggle="collapse" data-target="#shipping-address">Ship to different address</label>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="collapse mb-5" id="shipping-address">
                  <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Shipping Address</span></h5>
                  <div class="bg-light p-30">
                      <div class="row">
                          <div class="col-md-6 form-group">
                              <label>First Name</label>
                              <input class="form-control" type="text" placeholder="John">
                          </div>
                          <div class="col-md-6 form-group">
                              <label>Last Name</label>
                              <input class="form-control" type="text" placeholder="Doe">
                          </div>
                          <div class="col-md-6 form-group">
                              <label>E-mail</label>
                              <input class="form-control" type="text" placeholder="example@email.com">
                          </div>
                          <div class="col-md-6 form-group">
                              <label>Mobile No</label>
                              <input class="form-control" type="text" placeholder="+123 456 789">
                          </div>
                          <div class="col-md-6 form-group">
                              <label>Address Line 1</label>
                              <input class="form-control" type="text" placeholder="123 Street">
                          </div>
                          <div class="col-md-6 form-group">
                              <label>Address Line 2</label>
                              <input class="form-control" type="text" placeholder="123 Street">
                          </div>
                          <div class="col-md-6 form-group">
                              <label>Country</label>
                              <select class="custom-select">
                                  <option selected>United States</option>
                                  <option>Afghanistan</option>
                                  <option>Albania</option>
                                  <option>Algeria</option>
                              </select>
                          </div>
                          <div class="col-md-6 form-group">
                              <label>City</label>
                              <input class="form-control" type="text" placeholder="New York">
                          </div>
                          <div class="col-md-6 form-group">
                              <label>State</label>
                              <input class="form-control" type="text" placeholder="New York">
                          </div>
                          <div class="col-md-6 form-group">
                              <label>ZIP Code</label>
                              <input class="form-control" type="text" placeholder="123">
                          </div>
                      </div>
                  </div>
              </div>a
          </div>
          <div class="col-lg-4">
              <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Order Total</span></h5>
              <div class="bg-light p-30 mb-5">
                  <div class="border-bottom">
                      <h6 class="mb-3">Products</h6>
                      <div class="d-flex justify-content-between">
                          <p>Product Name 1</p>
                          <p>$150</p>
                      </div>
                      <div class="d-flex justify-content-between">
                          <p>Product Name 2</p>
                          <p>$150</p>
                      </div>
                      <div class="d-flex justify-content-between">
                          <p>Product Name 3</p>
                          <p>$150</p>
                      </div>
                  </div>
                  <div class="border-bottom pt-3 pb-2">
                      <div class="d-flex justify-content-between mb-3">
                          <h6>Subtotal</h6>
                          <h6>$150</h6>
                      </div>
                      <div class="d-flex justify-content-between">
                          <h6 class="font-weight-medium">Shipping</h6>
                          <h6 class="font-weight-medium">$10</h6>
                      </div>
                  </div>
                  <div class="pt-2">
                      <div class="d-flex justify-content-between mt-2">
                          <h5>Total</h5>
                          <h5>$160</h5>
                      </div>
                  </div>
              </div>
              <div class="mb-5">
                  <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Payment</span></h5>
                  <div class="bg-light p-30">
                      <button class="btn btn-block btn-primary font-weight-bold py-3">Place Order</button>
                  </div>
              </div>
          </div>
      </div>
  </div> {% endcomment %}
  <!-- Checkout End -->
    </section>
    <section class="u-align-center-sm u-align-center-xs u-clearfix u-container-align-center u-section-4" id="carousel_4134">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="data-layout-selected u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout" style="">
            <div class="u-layout-row" style="">
              <div class="u-align-left u-container-align-center-lg u-container-align-center-xl u-container-align-left-md u-container-align-left-sm u-container-align-left-xs u-container-style u-layout-cell u-left-cell u-size-23-lg u-size-23-xl u-size-60-md u-size-60-sm u-size-60-xs u-size-xs-60 u-layout-cell-1" src="">
                <div class="u-container-layout u-valign-middle-md u-valign-middle-sm u-valign-middle-xl u-valign-middle-xs u-container-layout-1" src="">
                  <div class="custom-expanded u-image u-image-circle u-image-1" data-image-width="800" data-image-height="855" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750"></div>
                </div>
              </div>
              <div class="u-align-left u-container-style u-layout-cell u-right-cell u-shape-rectangle u-size-37-lg u-size-37-xl u-size-60-md u-size-60-sm u-size-60-xs u-size-xs-60 u-layout-cell-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                <div class="u-container-layout u-container-layout-2"><span class="u-file-icon u-icon u-text-palette-3-base u-icon-1"><img src="{% static 'images/2087858-e6b7c80f.png' %}" alt=""></span>
                  <p class="u-large-text u-text u-text-default u-text-variant u-text-1"> Our values define us. Our culture differentiates us. Our strategy drives us. At UPS we are customer first, people led and innovation driven</p>
                  <h3 class="u-custom-font u-text u-text-2">Victoria Perry</h3>
                  <p class="u-text u-text-grey-30 u-text-3"> CEO and Co-Founder</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-container-align-right-lg u-container-align-right-xl u-image u-section-5" id="carousel_9a45" data-image-width="1980" data-image-height="1110">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-container-align-center u-container-style u-group u-white u-group-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
          <div class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-xl u-container-layout-1">
            <div class="custom-expanded u-list u-list-1">
              <div class="u-repeater u-repeater-1">
                <div class="u-container-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-white u-list-item-1" data-animation-direction="Up" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-delay="500">
                  <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2"><span class="u-file-icon u-icon u-text-palette-3-base u-icon-1"><img src="{% static 'images/154178-8f2b67b2.png' %}" alt=""></span>
                    <h3 class="u-align-center u-text u-text-palette-3-base u-text-1" data-animation-name="counter" data-animation-event="scroll" data-animation-duration="3000">&gt;500k</h3>
                    <h4 class="u-align-center u-text u-text-2"> Employees</h4>
                  </div>
                </div>
                <div class="u-container-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-white u-list-item-2" data-animation-direction="Up" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-delay="500">
                  <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3"><span class="u-file-icon u-icon u-text-palette-3-base u-icon-2"><img src="{% static 'images/660154-91f85e59.png' %}" alt=""></span>
                    <h3 class="u-align-center u-text u-text-palette-3-base u-text-3" data-animation-name="counter" data-animation-event="scroll" data-animation-duration="3000"> 200+</h3>
                    <h5 class="u-align-center u-text u-text-4"> Countries &amp; territories served</h5>
                  </div>
                </div>
                <div class="u-container-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-white u-list-item-3" data-animation-direction="Up" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                  <div class="u-container-layout u-similar-container u-valign-top u-container-layout-4"><span class="u-file-icon u-icon u-text-palette-3-base u-icon-3"><img src="{% static 'images/565391-b083d359.png' %}" alt=""></span>
                    <h3 class="u-align-center u-text u-text-palette-3-base u-text-5" data-animation-name="counter" data-animation-event="scroll" data-animation-duration="3000">34.M</h3>
                    <h4 class="u-align-center u-text u-text-6"> Packages delivered daily</h4>
                  </div>
                </div>
                <div class="u-container-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-white u-list-item-4" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                  <div class="u-container-layout u-similar-container u-valign-top u-container-layout-5"><span class="u-file-icon u-icon u-text-palette-3-base u-icon-4"><img src="{% static 'images/9721531-020f1384.png' %}" alt=""></span>
                    <h3 class="u-align-center u-text u-text-palette-3-base u-text-7" data-animation-name="counter" data-animation-event="scroll" data-animation-duration="3000">$31.5</h3>
                    <h4 class="u-align-center u-text u-text-8"> Total revenue for 2022</h4>
                  </div>
                </div>
              </div>
            </div>
            <a href="#" class="u-align-center u-btn u-button-style u-btn-1" data-animation-name="customAnimationIn" data-animation-duration="1750" data-animation-delay="1750" data-animation-direction=""> View All Fact Sheets</a>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-container-align-center u-palette-3-base u-section-6" id="carousel_37af">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-align-center u-text u-text-default u-text-1" data-animation-name="rollIn" data-animation-duration="2000" data-animation-direction=""> Connect your business with the world</h2>
        <p class="u-align-center u-custom-font u-font-pt-sans u-text u-text-2"> As a leader in the design and construction of advanced technology facilities, our architectural solutions are a result of a collaborative process that empowers our multidisciplinary teams to share knowledge, leverage new technology and create innovative design solutions.</p>
        <div class="data-layout-selected u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-col">
              <div class="u-size-30">
                <div class="u-layout-row">
                  <div class="u-align-center u-container-style u-layout-cell u-left-cell u-shape-rectangle u-size-20 u-white u-layout-cell-1" data-animation-name="zoomIn" data-animation-duration="2000" data-animation-direction="">
                    <div class="u-container-layout u-valign-middle u-container-layout-1">
                      <h5 class="u-text u-text-default u-text-palette-3-base u-text-3">About Us</h5>
                      <p class="u-text u-text-4"> Mauris pharetra et ultrices neque ornare aenean euismod. Habitant morbi tristique senectus et netus et malesuada fames. Ut faucibus pulvinar elementum integer enim neque volutpat. </p>
                    </div>
                  </div>
                  <div class="u-container-style u-image u-layout-cell u-size-20 u-image-1" data-image-width="1380" data-image-height="920">
                    <div class="u-container-layout u-container-layout-2"></div>
                  </div>
                  <div class="u-align-center u-container-style u-layout-cell u-right-cell u-size-20 u-white u-layout-cell-3" data-animation-name="zoomIn" data-animation-duration="2000" data-animation-direction="">
                    <div class="u-container-layout u-valign-middle u-container-layout-3">
                      <h5 class="u-text u-text-default u-text-palette-3-base u-text-5">Our Strategy</h5>
                      <p class="u-text u-text-6"> Mauris pharetra et ultrices neque ornare aenean euismod. Habitant morbi tristique senectus et netus et malesuada fames. Ut faucibus pulvinar elementum integer enim neque volutpat. </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="u-size-30">
                <div class="u-layout-row">
                  <div class="u-container-style u-image u-layout-cell u-left-cell u-size-20 u-image-2" data-image-width="1380" data-image-height="920">
                    <div class="u-container-layout u-container-layout-4"></div>
                  </div>
                  <div class="u-align-center u-container-style u-layout-cell u-size-20 u-white u-layout-cell-5" data-animation-name="zoomIn" data-animation-duration="2000" data-animation-direction="">
                    <div class="u-container-layout u-valign-middle u-container-layout-5">
                      <h5 class="u-text u-text-default u-text-palette-3-base u-text-7">Our Mission</h5>
                      <p class="u-text u-text-8"> Mauris pharetra et ultrices neque ornare aenean euismod. Habitant morbi tristique senectus et netus et malesuada fames. Ut faucibus pulvinar elementum integer enim neque volutpat. </p>
                    </div>
                  </div>
                  <div class="u-container-style u-image u-layout-cell u-right-cell u-size-20 u-image-3" data-image-width="1380" data-image-height="920">
                    <div class="u-container-layout u-container-layout-6"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-palette-3-base u-section-7" id="carousel_aa14">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="data-layout-selected u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-align-left u-container-style u-layout-cell u-size-40-lg u-size-43-xl u-size-60-md u-size-60-sm u-size-60-xs u-white u-layout-cell-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                <div class="u-container-layout u-valign-middle u-container-layout-1">
                  <h3 class="u-align-left u-text u-text-default u-text-1"> Get Personalised Business Advice</h3>
                  <p class="u-align-left u-large-text u-text u-text-variant u-text-2"> Book a free, 15-minute consultation to discover new opportunities, shipping solutions and more.</p>
                </div>
              </div>
              <div class="u-align-center u-container-style u-layout-cell u-size-17-xl u-size-20-lg u-size-60-md u-size-60-sm u-size-60-xs u-white u-layout-cell-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">
                <div class="u-container-layout u-valign-middle u-container-layout-2">
                  <a href="#" class="u-active-palette-3-base u-align-center u-black u-border-none u-btn u-button-style u-hover-palette-3-base u-btn-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="1000">Book Now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-container-align-center u-image u-shading u-section-8" id="carousel_3311" data-image-width="1980" data-image-height="1114">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-align-center u-text u-text-default u-text-palette-3-base u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">Contact Us</h2>
        <div class="u-align-center u-border-5 u-border-palette-3-base u-line u-line-horizontal u-line-1" data-animation-name="customAnimationIn" data-animation-duration="1500"></div>
        <p class="u-align-center u-text u-text-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">Nisl nisi scelerisque eu ultrices vitae auctor eu. Nulla at volutpat diam ut venenatis tellus in metus vulputate. Ultricies mi quis hendrerit dolor magna.</p>
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-container-align-center u-container-style u-list-item u-repeater-item u-white u-list-item-1">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1"><span class="u-align-center u-icon u-icon-circle u-palette-3-base u-text-white u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style=""><use xlink:href="#svg-36d8"></use></svg><svg class="u-svg-content" viewBox="0 0 512 512" x="0px" y="0px" id="svg-36d8" style="enable-background:new 0 0 512 512;"><g><g><path d="M256,0C156.748,0,76,80.748,76,180c0,33.534,9.289,66.26,26.869,94.652l142.885,230.257    c2.737,4.411,7.559,7.091,12.745,7.091c0.04,0,0.079,0,0.119,0c5.231-0.041,10.063-2.804,12.75-7.292L410.611,272.22    C427.221,244.428,436,212.539,436,180C436,80.748,355.252,0,256,0z M384.866,256.818L258.272,468.186l-129.905-209.34    C113.734,235.214,105.8,207.95,105.8,180c0-82.71,67.49-150.2,150.2-150.2S406.1,97.29,406.1,180    C406.1,207.121,398.689,233.688,384.866,256.818z"></path>
</g>
</g><g><g><path d="M256,90c-49.626,0-90,40.374-90,90c0,49.309,39.717,90,90,90c50.903,0,90-41.233,90-90C346,130.374,305.626,90,256,90z     M256,240.2c-33.257,0-60.2-27.033-60.2-60.2c0-33.084,27.116-60.2,60.2-60.2s60.1,27.116,60.1,60.2    C316.1,212.683,289.784,240.2,256,240.2z"></path>
</g>
</g></svg></span>
                <h5 class="u-align-center u-text u-text-body-color u-text-default u-text-3">Address:</h5>
                <p class="u-align-center u-text u-text-4">121 Rock Sreet, 21 Avenue, <br>New York, NY 92103-9000
                </p>
              </div>
            </div>
            <div class="u-container-align-center u-container-style u-list-item u-repeater-item u-white u-list-item-2">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2"><span class="u-align-center u-file-icon u-icon u-icon-circle u-palette-3-base u-text-white u-icon-2"><img src="{% static 'images/561127-a5e550d6.png' %}" alt=""></span>
                <h5 class="u-align-center u-text u-text-body-color u-text-default u-text-5"> Email:</h5>
                <p class="u-align-center u-text u-text-6">
                  <a href="mailto:hello@company.com" class="u-border-active-none u-border-hover-none u-btn u-button-link u-button-style u-none u-text-hover-palette-3-base u-text-palette-5-dark-3 u-btn-1" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">hello@company.com</a>
                  <br>
                  <a href="support@company.com" class="u-border-active-none u-border-hover-none u-btn u-button-link u-button-style u-none u-text-hover-palette-3-base u-text-palette-5-dark-3 u-btn-2" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">support@company.com</a>
                </p>
              </div>
            </div>
            <div class="u-container-align-center u-container-style u-list-item u-repeater-item u-white u-list-item-3">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3"><span class="u-align-center u-file-icon u-icon u-icon-circle u-palette-3-base u-text-white u-icon-3"><img src="{% static 'images/126509-436d588e.png' %}" alt=""></span>
                <h5 class="u-align-center u-text u-text-body-color u-text-default u-text-7">Call us:</h5>
                <p class="u-align-center u-text u-text-8">121 Rock Sreet, 21 Avenue, <br>New York, NY 92103-9000
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
 
{% endblock %}