#body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #3b3939;
    margin: 0;
}

.profile-container {
    position: relative;
    width: 300px;
    padding: 20px;
    background-color: rgb(65, 63, 63);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
}

.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.animation {
    position: absolute;
    top: -40px;
    left: -40px;
    right: -40px;
    bottom: -40px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top: 3px solid #db3434;
    border-left: 3px solid #db3434;
    border-right: 3px solid #db3434;
    border-bottom: 3px solid #db3434;
    animation: spin 3s linear alternate;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


